# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Playwright user data
user_data_chromium/
user_data_concurrent/
saved_outputs/
user_prompt.md/

# VSCode
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Logs
*.log

# Others
.env
